@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

$resolutions: (
  'xs': 420,
  'sm': 576,
  'md': 768,
  'lg': 992,
  'xl': 1074,
  'xxl': 1500,
);

@each $resolution, $i in $resolutions {
  .container-max-widthidth-#{$resolution} {
    max-width: #{$i}px;
    margin: 0 auto !important;
  }
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }
}

ul {
  list-style: none;
  padding-inline: unset;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input {
  font-family: inherit;
}

.radius {
  &-5 {
    border-radius: 5px;
  }

  &-8 {
    border-radius: 8px;
  }
}
