@use 'src/assets/styles/core-styles/variables' as vars;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

$resolutions: (
  'xs': 420,
  'sm': 576,
  'md': 768,
  'lg': 992,
  'xl': 1074,
  'xxl': 1500,
);

@each $resolution, $i in $resolutions {
  .container-max-width-#{$resolution} {
    max-width: #{$i}px !important;
    margin: 0 auto !important;
  }
}

.radius {
  border-radius: 0.5rem;
}

button {
  @extend .radius;
  cursor: pointer;
  border: none;
  transition-duration: 0.3s;

  &:disabled {
    cursor: not-allowed;
  }

  &.primary {
    display: block;
    padding: 0.5rem;
    background-color: vars.$color-blue;
    color: vars.$color-white;

    &:hover {
      background-color: lighten(vars.$color-blue, 10%);
    }
  }
}

ul {
  list-style: none;
  padding-inline: unset;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

input {
  font-family: inherit;
}
