// COLORS
$color-white: #fff;
$color-light-gray: #cacaca;
$color-gray: #b8b8b8;
$color-blue: #04b2c9;
$color-green: #00fd00;
$color-red: #ff1462;
$color-black: #000;
// BREAKPOINTS
$xs-breakpoint: 420px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1500px;
