// COLORS
$color-white: #fff;
$color-light-gray: #cacaca;
$color-gray: #b8b8b8;
$color-blue: #04b2c9;
$color-blue-dark: #282e44;
$color-green: #00fd00;
$color-red: #ff1462;
$color-black: #000;

$box-shadow-border: 0 0 1px 1px rgba(0, 0, 0, 0.4);
$box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.1);

// BREAKPOINTS
$breakpoint-xs: 420px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1500px;
