@use './core-styles/main';

.video {
  max-height: 700px;
  cursor: pointer;
}

.btn {
  @extend .radius;
  border: none;
  color: main.$color-white;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 5px main.$color-blue;
  }

  &-play {
    background-color: main.$color-green;
  }

  &-stop {
    background-color: main.$color-red;
  }
}

.bg-gray {
  background-color: main.$color-gray;
}
