@use './core-styles/main';

body {
  min-height: 100vh;
}

.form-control {
  &.success input {
    border-color: main.$color-green;
  }

  &.error input {
    border-color: main.$color-red;
  }

  &.error small {
    visibility: visible;
  }

  input {
    border: main.$color-gray solid 2px;

    &:focus {
      border-color: main.$color-gray;
      outline: 0;
    }
  }

  small {
    visibility: hidden;
    color: main.$color-red;
  }
}

.submit-btn {
  background-color: main.$color-blue;
  border: 2px solid main.$color-blue;
  color: main.$color-white;

  &:hover {
    background-color: lighten(main.$color-blue, 10%);
  }
}
