@use 'src/assets/styles/core-styles/main' as main;

body {
  background-color: main.$color-blue-dark;
  color: main.$color-blue;
}

.figure {
  &-container {
    fill: transparent;
    stroke: main.$color-white;
    stroke-width: 0.25rem;
    stroke-linecap: round;
  }

  &-part {
    display: none;
  }
}

.container {
  &-wrong-letters {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
  }

  &-popup {
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 9;

    .popup {
      width: 300px;
      background-color: main.$color-gray;
    }
  }

  &-notification {
    display: none;
  }
}

.word {
  .letter {
    border-bottom: 0.25rem solid main.$color-red;
    height: 3.125rem;
    width: 1.25rem;
  }
}
