@use 'src/assets/styles/core-styles/main' as main;

body {
  background-color: main.$color-blue-dark;
  color: main.$color-blue;
}

.figure {
  &-container {
    fill: transparent;
    stroke: main.$color-white;
    stroke-width: 0.25rem;
    stroke-linecap: round;
  }

  &-part {
    display: none;
  }
}
