@use 'src/assets/styles/core-styles/main';

.search-wrapper {
  gap: 0.25rem;
}

input {
  @extend .radius-5;
  font-size: 1rem;
  border: solid 1px main.$color-gray;
}

.user-cards {
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  margin-top: 1rem !important;
}

.card {
  @extend .radius-5;
  border: 1px solid main.$color-black;
  transition-duration: 0.3s;
}

.card:hover {
  background-color: main.$color-light-gray;
}

.card > .header {
  margin-bottom: 0.25rem;
}

.card > .body {
  font-size: 0.8rem;
  color: main.$color-gray;
}

.hide {
  display: none;
}
